.style__pStyle___VMrrp {
  border-style: solid 2px;
}

.style__a___3b-k0 {
  textDecoration: underline;
  color: #00F;
}
.style__cardTitle___2W_Nz {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.style__forkStyle___3F_DK {
  color: #808080;
  fontSize: 14px;
}
