.pStyle {
  border-style: solid 2px;
}

.a {
  textDecoration: underline;
  color: #00F;
}
.cardTitle {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}

.forkStyle {
  color: #808080;
  fontSize: 14px;
}
